%title=yield(:title)

= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag 'application'
= stylesheet_link_tag 'vuetify/dist/vuetify.min.css', media: 'all'
= stylesheet_link_tag 'material-design-icons-iconfont/dist/material-design-icons.css', media: 'all'
